<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeVue</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <!-- Header -->
        <div class="header">PokeVue</div>

        <!-- Main Content -->
        <div class="container">
            <!-- Left Side -->
            <div class="side">
                <div v-for="(randNum, index) in randomNumbersLeft" 
                     :key="'left-' + index" 
                     class="square"
                     draggable="true"
                     @dragstart="handleDragStart(randNum, 'left')">
                    <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${randNum}.png`" 
                         alt="Pokemon">
                </div>
            </div>

            <!-- Center Rectangle -->
            <div class="center-rectangle"
                 @dragover="handleDragOver"
                 @drop="handleDrop">
                <img src="./img/battleMap.jpg" alt="Center Image" class="battleMap">
                <img v-for="(pokemon, index) in centerPokemons" 
                     :key="index" 
                     :src="pokemon.src" 
                     :class="pokemon.class"
                     :name="pokemon.name">
                
                <div class="turn-left">
                    <img src="./img/bubleTurn-left.png" class="bubbleTurn-left">
                    <img  src="./img/tick.png" class="tick-left">
                </div>
                <div class="turn-right">
                    <img src="./img/bubleTurn-right.png" class="bubbleTurn-right">
                    <img  src="./img/tick.png" class="tick-right">
                </div>

                <div class="battleUI">
                    <div class="startBattleUI">
                        <img src="./img/startBattleUI.png" alt="">
                        <div class="start-text">
                            <b>
                                What will XXXXXX do?
                            </b>
                        </div>
                        <div class="battle-buttons">
                            <button>
                                FIGHT
                            </button>
                            <button>
                                RUN
                            </button>
                        </div>
                    </div>

                    <div class="fightBattleUI">
                        <img src="./img/fightBattleUI.png" alt="">
                        <div class="fight-buttons">
                            <button class="a1">
                                -
                            </button>
                            <button class="a2">
                                -
                            </button>
                            <button class="a3">
                                -
                            </button>
                            <button class="a4">
                                -
                            </button>
                        </div>
                        <div class="fight-stats">
                            <div class="myPP">
                                PP: 30/30
                            </div>
                            <div class="movePP">
                                MV PP: 10
                            </div>
                            <div class="power">
                                Power: 10
                            </div>
                            <div class="acc">
                                ACC: 85
                            </div>
                        </div>
                    </div>

                    <div class="resultBattleUI">
                        <img src="./img/resultBattleUI.png" alt="">

                    </div>

                </div>
            </div>
            


            <!-- Right Side -->
            <div class="side"> 
                <div v-for="(randNum, index) in randomNumbersRight"
                     :key="'right-' + index" 
                     class="square" 
                     draggable="true"
                     @dragstart="handleDragStart(randNum, 'right')"> 
                    <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${randNum}.png`"
                         alt="Pokemon"> 
                </div> 
            </div> 
        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/components/AppProfile.js"></script>
    <script>
        const mountedApp = app.mount('#app');
    </script>
</body>

</html>