<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeVue</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <!-- Welcome Modal -->
        <div id="welcomeModal" class="modal">
            <div class="modal-content">
                <div class="welcome-page">
                    <h1>Welcome to PokeVue</h1>
                    <button @click="startPvE">PvE</button>
                    <button @click="startPvP">PvP</button>
                </div>
            </div>
        </div>

        <!-- PvE Modal -->
        <div id="pveModal" class="modal">
            <div class="modal-content">
                <span class="close" @click="closeModal">&times;</span>
                <h2>Select 5 Pokémon</h2>
                <div class="pokemon-list">
                    <div v-for="pokemon in allPokemons" 
                         :key="pokemon.name" 
                         class="pokemon-item" 
                         :class="{ selected: isSelected(pokemon) }"
                         @click="selectPokemon(pokemon)">
                        <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`" :alt="pokemon.name">
                        <p>{{ pokemon.name }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- PvP Modal -->
        <div id="pvpModal" class="modal">
            <div class="modal-content">
                <span class="close" @click="closeModal">&times;</span>
                <div class="pvp-selector">
                    <div class="player">
                        <h3>Player 1</h3>
                        <div class="pokemon-list">
                            <div v-for="pokemon in allPokemons" 
                                 :key="pokemon.name" 
                                 class="pokemon-item" 
                                 :class="{ selected: isSelected(pokemon, 'player1') }"
                                 @click="selectPokemon(pokemon, 'player1')">
                                <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`" :alt="pokemon.name">
                                <p>{{ pokemon.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="player">
                        <h3>Player 2</h3>
                        <div class="pokemon-list">
                            <div v-for="pokemon in allPokemons" 
                                 :key="pokemon.name" 
                                 class="pokemon-item" 
                                 :class="{ selected: isSelected(pokemon, 'player2') }"
                                 @click="selectPokemon(pokemon, 'player2')">
                                <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`" :alt="pokemon.name">
                                <p>{{ pokemon.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="header">PokeVue</div>

        <!-- Main Content -->
        <div class="container">
            <!-- Left Side -->
            <div class="side">
                <div v-for="(pokemon, index) in selectedPokemonsLeft" 
                     :key="'left-' + index" 
                     class="square"
                     draggable="true"
                     @dragstart="handleDragStart(pokemon.id, 'left')"
                     @mouseenter="showPokemonStats(pokemon, 'left')"
                     @mouseleave="hidePokemonStats">
                    <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemon.id}.png`" 
                         alt="Pokemon">
                    <div v-if="hoveredPokemon && hoveredPokemon.id === pokemon.id && hoverSide === 'left'" class="pokemon-stats left">
                        <h3>{{ hoveredPokemon.name }} Stats</h3>
                        <div class="stats-grid">
                            <div><strong>HP:</strong> {{ hoveredPokemon.stats.hp }}</div>
                            <div><strong>Attack:</strong> {{ hoveredPokemon.stats.attack }}</div>
                            <div><strong>Defense:</strong> {{ hoveredPokemon.stats.defense }}</div>
                            <div><strong>Speed:</strong> {{ hoveredPokemon.stats.speed }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Center Rectangle -->
            <div class="center-rectangle"
     @dragover="handleDragOver"
     @drop="handleDrop">
    <img src="./img/battleMap.jpg" alt="Center Image" class="battleMap">
    <img v-for="(pokemon, index) in centerPokemons" 
         :key="index" 
         :src="pokemon.src" 
         :class="pokemon.class"
         :name="pokemon.name">
    
    <div class="turn-left">
        <img src="./img/bubleTurn-left.png" class="bubbleTurn-left">
        <img  src="./img/tick.png" class="tick-left">
    </div>
    <div class="turn-right">
        <img src="./img/bubleTurn-right.png" class="bubbleTurn-right">
        <img  src="./img/tick.png" class="tick-right">
    </div>

    <div class="hpBarLeft"></div>
    <div class="hpBarRight"></div>

                <div class="battleUI">
                    <div class="startBattleUI">
                        <img src="./img/startBattleUI.png" alt="">
                        <div class="start-text">
                            <b>
                                What will XXXXXX do?
                            </b>
                        </div>
                        <div class="battle-buttons">
                            <button>
                                FIGHT
                            </button>
                            <button>
                                RUN
                            </button>
                        </div>
                    </div>

                    <div class="fightBattleUI">
                        <img src="./img/fightBattleUI.png" alt="">
                        <div class="fight-buttons">
                            <button class="a1">
                                -
                            </button>
                            <button class="a2">
                                -
                            </button>
                            <button class="a3">
                                -
                            </button>
                            <button class="a4">
                                -
                            </button>
                        </div>
                        <div class="fight-stats">
                            <div class="movePP">
                                MV PP: -
                            </div>
                            <div class="power">
                                Power: -
                            </div>
                            <div class="acc">
                                ACC: -
                            </div>
                        </div>
                    </div>

                    <div class="resultBattleUI">
                        <img src="./img/resultBattleUI.png" alt="">

                    </div>

                </div>
            </div>
            
            <!-- Right Side -->
            <div class="side"> 
                <div v-for="(pokemon, index) in selectedPokemonsRight"
                     :key="'right-' + index" 
                     class="square" 
                     draggable="true"
                     @dragstart="handleDragStart(pokemon.id, 'right')"
                     @mouseenter="showPokemonStats(pokemon, 'right')"
                     @mouseleave="hidePokemonStats"> 
                    <img :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemon.id}.png`"
                         alt="Pokemon"> 
                    <div v-if="hoveredPokemon && hoveredPokemon.id === pokemon.id && hoverSide === 'right'" class="pokemon-stats right">
                        <h3>{{ hoveredPokemon.name }} Stats</h3>
                        <div class="stats-grid">
                            <div><strong>HP:</strong> {{ hoveredPokemon.stats.hp }}</div>
                            <div><strong>Attack:</strong> {{ hoveredPokemon.stats.attack }}</div>
                            <div><strong>Defense:</strong> {{ hoveredPokemon.stats.defense }}</div>
                            <div><strong>Speed:</strong> {{ hoveredPokemon.stats.speed }}</div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/components/AppProfile.js"></script>
    <script>
        const mountedApp = app.mount('#app');
    </script>
</body>

</html>