#fondo {
    width:100%;
    height:100%;
    background-color:black;
    opacity:.6;
    position:absolute;
    left:0;
    top:0;
}
#modal {
    padding:50px;
    position:absolute;
    width:1000px;
    box-shadow:0px 0px 20px black;
    border-radius:15px;
    height:auto;
    background-color:white;
    top:100px;
    left: calc(50% - 500px);
}
#modal h3 {
    text-align: center;
    border-bottom:1px solid silver;
    padding:10px;
}

#notas {
    width:100%;
    max-height: 300px;
    overflow: auto;
    font-size: 10px;
    color:gray;
}

.titulo {
    width:20%;
    font-weight: bold;
    padding-left:25px;
}
.descripcion {
    width:30%;
    color:gray;
    padding-right:30px;
    text-align:right;
    font-size:12px;
}
.oculto {
    display:none;
}

.noresize {

    margin-left: calc(50% - 400px);
    height: 495px;
    width: 800px;
}

h1 {
    text-align:center;
    padding:50px;
}

.poblacion {
    width:21%;
    font-size: 12px;
    color:gray;
}

.titPob{
    width: 12%;
    font-weight: bold;
    font-size:12px;
}

tr{
    border-bottom: 1px solid whitesmoke;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prevBtn, #nextBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.table-container {
    flex: 1;
    overflow: hidden;
    position: relative;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.carousel-btn {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.carousel-btn:hover {
    background-color: #ddd;
}

@keyframes slideLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100px); }
}

@keyframes slideRight {
    from { transform: translateX(0); }
    to { transform: translateX(100px); }
}

#life_img {
    width: 400px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Ensure the image doesn't overflow */
    border: 1px solid #ddd; 
    border-radius: 30px 10px 0px 20px;
}

#life_img img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}