.listas {
    display: flex;
}

h2{
    text-align: center;
}

.primera, .segunda , .tercera, .cuarta{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    width: 48%;
}

.primera{
    background-color: #b0918f;
}

.segunda{
    background-color: #abcb44;
}

.tercera{
    background-color: #bbd7e5;
}

.cuarta{
    background-color: #b2eb95;
}

.contenido_primera{

    border: 3px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: white ;
    margin-bottom: 10px;

}

.contenido_segunda{

    border: 3px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: white ;
    margin-bottom: 10px;

}

.contenido_tercera{

    border: 3px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: white ;
    margin-bottom: 10px;

}

.contenido_cuarta{

    border: 3px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: white ;
    margin-bottom: 10px;

}